.reader {
  font-size: 24px;
  text-align: left;
  color: #e6e6e6;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 12px 16px;
  display: flex;
  width: auto !important;
  &Active {
    color: #1a1a1a;
  }
}

.list {
  display: flex;
}